@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-clr: 105 177 204;
    --color-text: 255 255 255;
    --nav-clr: 43 45 45;
    --body-clr: 51 51 51;
    --clr-5: 43 45 45;
    --clr-6: 255 255 255;
  }
  /* i will try to make the theme of the website to be same as theme of the browser */
  :root[class~="light"] {
    --primary-clr: #69b1cc;
    --color-text: #000000;
    --nav-clr: #d8d8d8;
    --body-clr: #fafafa;
    --clr-5: #aeaeaebb;
    --clr-6: #29292954;
  }
}
